﻿@model ImagineRooms.Models.RoomCreationViewModel
@using ImagineRooms.Extensions
<div id="CreationForm">
    <form asp-action="CreateRoom"
          asp-controller="Rooms"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-update="#CreationForm"
          data-ajax-mode="replace"
          data-ajax-success="onCreateSuccess"
          data-ajax-complete="onCreateComplete"
          data-ajax-loading="#Createloading"
          data-ajax-begin="onCreateBegin">

        <h4>Создать комнату</h4>
        <div>
            <label asp-for="RoomName"></label>
            <input asp-for="RoomName" />
            <span asp-validation-for="RoomName"></span>
        </div>
        <div>
            <label asp-for="Problem"></label>
            <input asp-for="Problem" />
            <span asp-validation-for="Problem"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </div>
        <center>
            <div id="createBtn">
                <input class="waves-effect waves-light btn" type="submit" value="Создать" />
            </div>
        </center>

    </form>
    <center>
        <div id="Createloading" style="display:none">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </center>
    <script>
        function onCreateComplete(context) {
            $("#createBtn").css("display", "initial");
        }
        function onCreateSuccess(context) {
            if (context.success == true) {
                window.location = "http://" + location.hostname + ":5000" + context.url;
            }
        }

        function onCreateBegin() {
            $("#createBtn").css("display", "none");
        }

    </script>
</div>
