﻿<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.fontawesome.com/49e5bf725f.js"></script>
    <script src="~/js/particles.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ImagineRooms</title>
    <link href="~/css/layout.css" rel="stylesheet" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @*<div id="particles-js" style="position:absolute;z-index:999999999999"></div>*@
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>

        @*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
        <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


    <header id="header" style="width:100%; height : 70px; background-color:#26a69a">
        <center> <a asp-action="Index" asp-controller="Home"><span style="color: white; font-size : 50px; font-weight : bold">Imagine Rooms</span></a></center>
    </header>
    @RenderBody()


        @RenderSection("Scripts", required: false)
        <script>

            $(document).ready(function () {
                particlesJS.load('particles-js', 'js/particles.json', function () {
                    console.log('callback - particles.js config loaded');
                });
            })


            var all = document.getElementsByTagName("*");

            for (var i = 0; i < all.length; i++) {
                //all[i].classList.add("fa-spin");
                //all[i].classList.add("fa-pulse");

            }
            var counter = 0;

            $("#header").click(function () {
                counter++;
                if (counter >= 10) {
                    $("body").addClass("fa-spin");
                }
            });


        </script>

        <!-- HelloPreload http://hello-site.ru/preloader/ -->
        <style type="text/css">
            #hellopreloader > p {
                display: none;
            }

            #hellopreloader_preload {
                display: block;
                position: fixed;
                z-index: 99999;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                min-width: 1000px;
                background: #03C9A9 url(http://hello-site.ru//main/images/preloads/puff.svg) center center no-repeat;
                background-size: 300px;
            }
        </style>
        <div id="hellopreloader"><div id="hellopreloader_preload"></div><p><a href="http://hello-site.ru">Hello-Site.ru. Бесплатный конструктор сайтов.</a></p></div>
        <script type="text/javascript">var hellopreloader = document.getElementById("hellopreloader_preload"); function fadeOutnojquery(el) { el.style.opacity = 1; var interhellopreloader = setInterval(function () { el.style.opacity = el.style.opacity - 0.05; if (el.style.opacity <= 0.05) { clearInterval(interhellopreloader); hellopreloader.style.display = "none"; } }, 16); } window.onload = function () { setTimeout(function () { fadeOutnojquery(hellopreloader); }, 1000); };</script>
        <!-- HelloPreload http://hello-site.ru/preloader/ -->

</body>
</html>
