﻿@model ImagineRooms.Models.LoginViewModel
<div id="logForm">
    <form asp-action="Login"
          asp-controller="Account"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-update="#logForm"
          data-ajax-mode="replace"
          data-ajax-success="onSuccess"
          data-ajax-complete="onComplete"
          data-ajax-loading="#loading"
          data-ajax-begin="onBegin">

        <h4>Вход</h4>
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" type="text" />
            <span asp-validation-for="Username"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </div>
        <center >
            <div id="enterBtn">
                <input class="waves-effect waves-light btn" type="submit" value="Войти" />
            </div>
        </center>

    </form>
    <center>
        <div id="loading" style="display:none">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </center>
    <script>
        function onComplete()
        {
            $("#enterBtn").css("display", "initial");
            if (context == true) {
                location.reload();
            }
            $("#enterBtn").css("display", "initial");
        }
        function onSuccess(context) {
            $("#enterBtn").css("display", "initial");
            if (context == true) {
               // alert("Success")
                $("#modal1").modal("close")
                $("#logForm").css("display","none");
            }
            if (context == true) {
                location.reload();
            }
        }

        function onBegin() {
            $("#enterBtn").css("display", "none");
        }

    </script>
</div>