﻿@model ImagineRooms.Models.RegisterViewModel
<div id="regForm">
    <form asp-action="Register"
          asp-controller="Account"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-update="#regForm"
          data-ajax-mode="replace"
          data-ajax-success="onRegSuccess"
          data-ajax-complete="onRegComplete"
          data-ajax-loading="#Regloading"
          data-ajax-begin="onRegBegin">
        <h4>Регистрация</h4>

        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>

        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div>
            <label asp-for="Phone"></label>
            <input asp-for="Phone" type="tel" />
            <span asp-validation-for="Phone"></span>
        </div>

        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" type="password" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <center>
            <div id="regBtn">
                <input class="waves-effect waves-light btn" type="submit" value="Зарегистрироваться"/>
            </div>
        </center>
    </form>
    <center>
        <div id="Regloading" style="display:none">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </center>
    <script>
        function onRegComplete() {

            $("#regBtn").css("display", "initial");
        }
        function onRegSuccess(context) {
            $("#regBtn").css("display", "initial");
            if (context == true) {
                $("#regForm").css("display", "none");
            }
            if (context == true) {
                location.reload();
            }
        }

        function onRegBegin() {
            $("#regBtn").css("display", "none");
        }
    </script>
</div>