﻿@model ImagineRooms.Models.RoomSearchViewModel

<div id="SearchForm">
    <form asp-action="SearchRoom"
          asp-controller="Rooms"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-update="#SearchForm"
          data-ajax-mode="replace"
          data-ajax-success="onSearchSuccess"
          data-ajax-complete="onSearchComplete"
          data-ajax-loading="#Searchloading"
          data-ajax-begin="onSearchBegin">

        <h4>Найти комнату</h4>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" />
            <span asp-validation-for="Name"></span>

        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </div>
        <center >
            <div id="searchrBtn">
                <input class="waves-effect waves-light btn" type="submit"  value="Найти"/>
            </div>
        </center>

    </form>
    <center>
        <div id="Searchloading" style="display:none">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </center>
    <script>
        function onSearchComplete() {
            $("#searchrBtn").css("display", "initial");
        }
        function onSearchSuccess(context) {
            $("#searchrBtn").css("display", "initial");
            if (context.success == true) {
                window.location = "http://" + location.hostname + ":5000" + context.url;
            }
        }
      

        function   onSearchBegin(context) {
            $("#searchrBtn").css("display", "none");
        }
    </script>
</div>
</div>