﻿@model ImagineRooms.Models.AccountViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/index.css" rel="stylesheet" />
<div class="grid">
    <div class="left-content">
        <div class="one">
            <div class="row ">
                <div class="col s10 m10">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/images/PicLeft.png" style="width : 100%    " class="activator">
                            <a class="btn-floating activator btn-large halfway-fab waves-effect waves-light red"><i class="fa fa-question" aria-hidden="true"></i></a>
                        </div>
                        <div class="card-content">
                            <center><h5>Что такое мозговой штурм?</h5></center> 
                        </div>
                        <div class="card-reveal" id="aboutReveal">
                            <span class="card-title grey-text text-darken-4"><i class="fa fa-times material-icons right"></i></span>
                            <h4>Мозговой штурм</h4>
                            <p>
                                Мозговой штурм-это классный метод побуждения творческой активности. Во время поиска решения той или иной проблемы, участники предлагают наибольшее количество самых разных вариантов. Далее все идеи проходят тщательный отбор и остаются только самые удачные.
                                Этап генерации идей считается главным, и именно от него зависит исход мозгового штурма. Поэтому очень важно соблюдать 4 основных правила:<br />
                                1. Количество идей не ограничено. Чем больше, тем лучше.<br />
                                2. Идея может быть самой абсурдной и необычной.<br />
                                3. Идеи можно и даже нужно совмещать и улучшать.<br />
                                4. На этапе генерации идей ни одна из предложенных идей не должна подлежать критике или оцениванию.<br />
                                <br />
                                Надеемся, у вас всё получится и мы сможем вам чем-то помочь. Предлагаем вам начинать!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-content">
        <div class="one">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="row valign-wrapper">
                    <div class="col s10 m10">
                        <div class="card">
                            <div class="card-image">
                                <img src="~/images/PicRight.png" style="width : 100%    " class="activator">
                                <a asp-action="Logout" asp-controller="Account" class="btn-floating btn-large activator halfway-fab waves-effect waves-light red"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                            </div>
                            <div class="card-content">
                                <a class="waves-effect waves-light btn main modal-trigger" href="#modal3">Создать</a>
                                <a class="waves-effect waves-light btn main modal-trigger" href="#modal4">Найти</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row valign-wrapper">
                    <div class="col s10 m10">
                        <div class="card">
                            <div class="card-image">
                                <img src="~/images/PicRight.png" style="width : 100%    " class="activator">                           
                            </div>
                            <div class="card-content">
                                <a class="waves-effect waves-light btn main modal-trigger" href="#modal1">Вход</a>
                                <a class="waves-effect waves-light btn main modal-trigger" href="#modal2">Регистрация</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <!-- Modal Login -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                @Html.Partial("_Login", Model.LoginViewModel)
            </div>
        </div>
        <!-- Modal Register-->

        <div id="modal2" class="modal">
            <div class="modal-content">
                @Html.Partial("_Register", Model.RegisterViewModel)
            </div>
        </div>
    }
    else
    {
        <!-- Modal Create Room-->

        <div id="modal3" class="modal">
            <div class="modal-content">
                @Html.Partial("_CreationRoom", Model.RoomCreationViewModel)
            </div>
        </div>

        <!-- Modal Search Room-->

        <div id="modal4" class="modal">
            <div class="modal-content">
                @Html.Partial("_SearchRoom", Model.RoomSearchViewModel)
            </div>
        </div>
    }
</div>


<!-- Modal Opening-->
<script>
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>
@if (User.Identity.IsAuthenticated == false)
{
    <script>
        $(document).ready(function () {
            $('#modal1').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: 0.8, // Opacity of modal background
                inDuration: 500, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '10%', // Starting top style attribute
                endingTop: '30%', // Ending top style attribute
            }
            );

            $('#modal2').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .8, // Opacity of modal background
                inDuration: 500, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '15%', // Starting top style attribute
                endingTop: '15%', // Ending top style attribute
                // Callback for Modal close
            }
            );
        });
    </script>
}
else
{
    <script>
            $(document).ready(function () {
                        $('#modal3').modal({
                            dismissible: true, // Modal can be dismissed by clicking outside of the modal
                            opacity: .8, // Opacity of modal background
                            inDuration: 500, // Transition in duration
                            outDuration: 200, // Transition out duration
                            startingTop: '15%', // Starting top style attribute
                            endingTop: '15%', // Ending top style attribute
                            // Callback for Modal close
                        }
                        );

                        $('#modal4').modal({
                            dismissible: true, // Modal can be dismissed by clicking outside of the modal
                            opacity: .8, // Opacity of modal background
                            inDuration: 500, // Transition in duration
                            outDuration: 200, // Transition out duration
                            startingTop: '15%', // Starting top style attribute
                            endingTop: '15%', // Ending top style attribute
                            // Callback for Modal close
                        }
                        );
                    });


    </script>
}

@*//$('.btn').click(function () {
            //    $('#modal1').modal('open');
            //});
    </script>*@