﻿.grid{
    display : grid;
    width : 100vw;
    height : calc(100% - 80px);
    grid-template-columns : 50% 50%;
}

.one {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
}

.centeral{
    margin : auto;
}

.row {
    margin: auto;
}

.first{
    height : 100%;
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 132px;
    
}




.main{
    width : 45%;
}
