﻿@import url('layout.css');
*{
    margin : 0;
    padding : 0;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #f1f1f2;
    max-height : 100vh;
}

header {
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.field-validation-error
{
    color:red;
}

.validation-summary-errors
{
    color: red;
}

.ligt{
    background-color:yellow;
}

