﻿.grid{
    display : grid;
    max-height : calc(100vh - 80px);
    grid-template-columns : 50% 50%;
    height : 100%;
}

.left-content{
    display : grid;
    grid-template-columns : 50% 50%;
    grid-template-rows : 50% 50%;
}

.ideas{
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-content : center;
}

.cards {
    margin: auto;
    width: 70%;
    height: 80%;
    border: 2px solid #26a69a;
    overflow: auto
}



.right-content

{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bord {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 90%;
    max-height: 90%;
    width: 85%;
    max-width: 85%;
    border: 2px solid #26a69a;
}

.window {
    display: flex;
    flex-direction : column;
    justify-content : space-between;
    margin-top: 3%;
    margin: auto;
    height: 95%;
    max-height: 95%;
    width: 85%;
    max-width: 85%;
}

.chat {
    overflow: auto;
    max-height: 420px;
}


