﻿
@{
    ViewData["Title"] = "ConnectToRoom";
}

<h2>ConnectToRoom</h2>
<form action="Index" method="post">

    <input type="text" name="roomId" placeholder="Название комнаты" value="" />
    <input type="submit" name="name" value="Подключится" />
    <div class="col-md-8 col-xs-12"></div>
</form>
