﻿@model ImagineRooms.Models.RoomCreationViewModel
@using ImagineRooms.Extensions
@{
    ViewData["Title"] = "CreateRoom";
}

<form asp-action="CreateRoom" asp-controller="Rooms" method="post">
    <input type="text" asp-for="Name" placeholder="Имя комнаты" />
    <input type="password" asp-for="Password" placeholder="Пароль комнаы" />
    <input type="hidden" asp-for="CreatorsId" value="@User.GetUserId()" />
    <input type="submit" name="name" value="Создать комнату" />
</form>
