﻿@model ImagineRooms.Models.Room
@{
    ViewData["Title"] = "Index";
}




<div id="chat" style="display:none">
    <div id="inputForm">
        <input type="text" id="message" />
        <input type="button" id="sendBtn" value="Отправить" />
    </div>
    <div id="chatroom"></div>
</div>

<div id="roomPick">
    @*<input type="text" id="roomId" />*@
    <button id="connectToRoom">Подключиться к комнате</button>
</div>
<script src="http://code.jquery.com/jquery-3.3.0.min.js"
        integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4="
        crossorigin="anonymous"></script>
<script src="~/js/signalr-client-1.0.0-alpha2-final.js"></script>
<script>

    var roomId = @Model.Id;

    //ссылка на хаб
    let hubUrl = 'http://'+'@Program.LISTEN_IP'+':5000/room';
    //конфигурация сокета
    let httpConnection = new signalR.HttpConnection(hubUrl);
    //конфигурация соединения с хабом
    let hubConnection = new signalR.HubConnection(httpConnection);



    $("#connectToRoom").click(function () {
        $("#chat").css("display", "block");
        $("#roomPick").css("display", "none");
        hubConnection.invoke("Join", roomId);
    });

    //метод,вызываемый из хаба
    hubConnection.on("Send", function (data) {
        let elem = document.createElement("p");
        elem.appendChild(document.createTextNode(data));
        let firstElem = document.getElementById("chatroom").firstChild;
        document.getElementById("chatroom").insertBefore(elem, firstElem);
    });

    document.getElementById("sendBtn").addEventListener("click", function (e) {
        let message = document.getElementById("message").value;
        //вызов метода хаба Send
            hubConnection.invoke("Send", message, roomId);
        

    });


    window.onbeforeunload = function () {

        alert("POKA");
        //вызов метода хаба Disconnect
        hubConnection.invoke("Disconnect", roomId);
    }
    hubConnection.start();

</script>


