﻿@{
    ViewData["Title"] = "Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/room.css" rel="stylesheet" />

<div class="grid">

    <div class="left-content">
        <div class="ideas">
            <div class="cards">

            </div>
        </div>

        <div class="ideas">
            <div class="cards">
            </div>
        </div>

        <div class="ideas">
            <div class="cards">

            </div>
        </div>

        <div class="ideas">
            <div class="cards">

            </div>
        </div>
    </div>

    <div class="right-content">
        <div class="bord">
            <div class="window">
                <div class="chat" id="chat" style="overflow:auto">

                </div>
                <div class="send-message" style="display:flex;justify-content:center;align-content:center">
                    <input type="text" style="width : 80%" id="message" /><button class="btn"><i id="sendBtn" class="material-icons" style="margin:auto">send</i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery.signalR.min.js"></script>
<script src="~/js/signalr-client-1.0.0-alpha2-final.js"></script>
<script id="23">

    var roomId = @Model.Id;

    //ссылка на хаб
//'http://' + '@Program.LISTEN_IP' + ':5000'
    let connection = new signalR.HubConnection('/room');

    connection.start()
        .then(
        function () {
            connection.invoke("Join", roomId);
        }
        );

    var ideaCards;

    $(document).ready(function () {
        ideaCards = $(".cards");
    });

    //метод,вызываемый из хаба
    connection.on("Send", function (data) {
        let chatElement;
        if (data.msgId != undefined) {
            chatElement = ' <p id="message_' + data.msgId + '"><span>[@User.Identity.Name]</span><span>' + data.msg + '</span><i id="image_' + data.msgId + '" onclick="AddIdea(' + data.msgId + ');" class="fa fa-lightbulb-o" aria-hidden="true"></i></p>'
        } else {
            chatElement = ' <p"><span>' + data.msg + '</span></p>'

        }
        $("#chat").append(chatElement);
    });


    var p;
    connection.on("IdeaToggled", function (data) {
        p = data;
        var msgID = data.msg.id;
        var ideaElement = $("#idea_" + data.msg.id);
        if (ideaElement.length > 0) {
            $("#idea_" + data.msg.id).remove();
            $("#image_" + data.msg.id).removeClass("ligt")

        } else {
            $("#image_" + data.msg.id).addClass("ligt")
            $("#card_" + data.userId).append("<p id='idea_" + data.msg.id + "'>" + data.msg.text + "</p>")

        }
    });

    var t;
    var uId;
    connection.on("OnConnected", function (room) {
        var count = ideaCards.length;
        t = room;
       
        
        for (var i = 0; i < count; i++) {
             uId = t.room.users;
            if (uId[i] != undefined)
                 $(ideaCards[i]).attr("id", "card_" + uId[i].id);
            $(ideaCards[i]).append("<p id='ideaNick" + uId[i].id+ "' style='text-align:center'>" + uId[i].userName + "</p>")
            if (t.room.ideas != undefined) {
                for (var j = 0; j < t.room.ideas.length; j++) {
                    var curUserId;
                    curUserId = uId[i].id;
               
                    if (t.room.ideas[j].author.id == curUserId) {
                        var card = ideaCards[i];

                        $(ideaCards[i]).append("<p id='idea_" + t.room.ideas[j].messageId + "'>" + t.room.ideas[j].text + "</p>")
                        $("#image_" + t.room.ideas[j].messageId).addClass("ligt");
                    }
                }
            }
        }
    });

    document.getElementById("sendBtn").addEventListener("click", function (e) {
        let message = $("#message").val();
         $("#message").val("");
         document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight;
        //вызов метода хаба Send
        connection.invoke("Send", message, roomId);
    });

    function AddIdea(id) {
        connection.invoke("ToggleIdea", roomId,id);
    }
    window.onbeforeunload = function () {

        connection.invoke("Disconnect", roomId);
    }

    $("#message").keypress(function (e) {
        if (e.keyCode == 13) {
            let message = $("#message").val();
            $("#message").val("");
            document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight;
            //вызов метода хаба Send
            connection.invoke("Send", message, roomId);

        }

    });

</script>
