﻿@model ImagineRooms.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form action="Login" method="post">
    <input type="text" asp-for="Username" value="" />
    <input type="password" asp-for="Password" value="" />
    <input type="submit" name="name" value="" />
</form>
