﻿@model ImagineRooms.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form action="Register" method="post">
    <input type="text" style="border-color:red"  asp-for="Username" value="" />
    <input type="text" style="border-color:red" asp-for="Email" value="" />
    <input type="text" style="border-color:red" asp-for="Phone" value="" />
    <input type="text" style="border-color:red" asp-for="Password" value="" />
    <input type="text" style="border-color:red" asp-for="ConfirmPassword" value="" />
    <input type="submit" name="name" value="register" />

</form>